$blue-dark: #0e2431;
$blue-dark2: #133040;
$blue-light: #e2f4fd;

$primary-green: #d9db32;
$secondary-color: #e8ec9d;
$secondary-color: #fafae0;


/* SCSS HEX */
$firefly: #122e3d;
$white-ice: #e3f3fa;
$wattle: #d3d73b;
$regent-gray: #889ba6;
$zombie: #dfe29c;
$heather: #b3c3cb;
$flint: #747468;
$loblolly: #c4cbd1;
$spun-pearl: #acacb2;
$gothic: #6c94a4;